$button-color-1: #F7C8E0;
$button-color-2: #3C90CC;

@mixin buttonEffect($color, $paddingInline, $colorText) {
    padding-inline: $paddingInline;
    &:hover{
        background-color: $color!important;
        color: $colorText!important;
        border-color: $color!important;
    }
}

.Tabs {
    .ant-tabs-nav {
        background-color: #FFFFFF!important;
        padding-left: 150px;
    }
}

.container {
    width: 80%!important;
    margin: 0 auto;
}

.StatisticTemplate {
    th {
        background: #FF6C22!important;
        opacity: 70%!important;
        color: #000000!important;
        font-weight: bold !important;
        text-align: center!important;
        font-size: 1rem!important;
        border: 1px solid #FF6C22!important;
    }
    table {
        width: 30rem;
        td {
           text-align: center; 
        }
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.AttendanceTemplate {
    p {
        padding-block: 6px;
        font-weight: 500;
        padding-left: 12px
    }
}

