$button-color-1: #F7C8E0;
$button-color-2: #3C90CC;
$button-color-3: #FF6C22;

@mixin buttonEffect($color, $paddingInline, $colorText) {
    padding-inline: $paddingInline;
    &:hover{
        background-color: $color!important;
        color: $colorText!important;
        border-color: $color!important;
    }
}

@mixin buttonEffectSecond($color){
    transition: 0.3s;
    &:hover{
        color: $color!important;
        border-color: $color!important;
    }
}

.Tabs {
    .ant-tabs-nav {
        background-color: #FFFFFF!important;
        padding-left: 150px;
    }
}

.container {
    width: 80%!important;
    margin: 0 auto;
}

.StatisticTemplate {
    th {
        background: #FF6C22!important;
        opacity: 80%!important;
        color: #000000!important;
        font-weight: bold !important;
        text-align: center!important;
        font-size: 1rem!important;
        overflow: hidden;
    }
    table {
        width: 30rem;
        td {
           text-align: center; 
           font-size: 16px;
        }
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 20px;
    }
    thead {
        tr {
            border-radius: 20px!important;
            overflow: hidden;
            // border: 1px solid black;
        }
    }

}

.AttendanceTemplate {
    p {
        padding-block: 6px;
        font-weight: 500;
        padding-left: 12px
    }
    Button.button {
        @include buttonEffectSecond($button-color-3)
    }
}
.Modal {
    .ant-modal-footer {
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        text-align: center!important;
    }
}

.WheelTemplate {
    Button {
        @include buttonEffectSecond($button-color-3)
    }
}

.ExportListTemplate {
    Button {
        @include buttonEffectSecond($button-color-3)
    }
    Button.export {
        @include buttonEffectSecond(#38aabc)
    }
}

.LoginTemplate {
    input {
        border: 2px solid black!important;
        margin-left: 6px;
        border-radius: 15px;
    }
    Button {
        @include buttonEffectSecond($button-color-3)
    }
}
